body {
    font-family: "Montserrat", sans-serif;
  }
  
  h1 {
    font-family: "Gluten", cursive;
    font-weight: 600;
  }

  h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  nav {
    background-color: hsl(24, 100%, 88%);
  }
  
  .jumbotron {
    background-color: white;
    margin: 0;
  }
  .jumbotron p {
    font-size: 1rem;
  }
  
/*--Button Styles--*/

  .dbt-button-wrapper .btn-primary.emotions-button, .dbt-button-wrapper .btn-primary.urges-button,  .dbt-button-wrapper .btn-primary.sos-button, .dbt-button-wrapper .btn-primary.green-button,   .dbt-button-wrapper .btn-primary.blue-button {
    align-items: center;
    border-radius: 0.3rem;
    color: black;
    font-size: 1.5rem;
    justify-content: space-around;
  }
  .dbt-button-wrapper .btn-primary.emotions-button {
    background-color: #CCEEBC;
    border: 2px solid #8ed96b;
    margin: 1rem;
    padding: 2rem 3rem;
  }
  .dbt-button-wrapper .btn-primary.urges-button {
    background-color: #D4FAFC;
    border: 2px solid #75eff5;
    margin: 1rem;
    padding: 2rem 3rem;
  }
  .dbt-button-wrapper .btn-primary.sos-button {
    background-color: #f77474;
    border: 2px solid #ba1313;
    margin: 1rem;
    padding: 2rem 3rem;
  }
  .dbt-button-wrapper .btn-primary.green-button {
    background-color: #CCEEBC;
    border: 2px solid #8ed96b;
    margin: 0.5rem;
    padding: 0.5rem 3rem;
  }
  .dbt-button-wrapper .btn-primary.blue-button {
    background-color: #D4FAFC;
    border: 2px solid #75eff5;
    margin: 0.5rem;
    padding: 0.5rem 3rem;
  }
  

  /*--Footer Styles--*/
  footer {
    background-color: #FFD9C0;
  }
  footer .footer-content-wrapper {
    align-items: center;
  }


  footer .app-badge-wrapper a > img {
    width: 12rem;
    margin: 
    
  }