body {
    background-color: E5E4E2;
    font-family: 'Rubik', sans-serif;
}

.btn-lg {
    padding: 2rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }

.btn-primary {
    color: #71aeef;
    background-color: #ffffff;
    border-color: #548fcf;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4297f3;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #4297f3;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-danger {
    background-color: #ffffff;
    color: #71aeef;
}

i {
    padding-left: 10%;
}